/* reboot */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  font-family: "Lato", Arial, sans-serif;
  color: #231815;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

a {
  color: #231815;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Korataki";

  font-display: swap;
  src: url("fonts/korataki-400.woff2") format("woff2"),
    url("fonts/korataki-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("fonts/lato-400.woff2") format("woff2"),
    url("fonts/lato-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Lato";

  font-display: swap;
  src: url("fonts/lato-500.woff2") format("woff2"),
    url("fonts/lato-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src: url("fonts/lato-600.woff2") format("woff2"),
    url("fonts/lato-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";

  font-display: swap;
  src: url("fonts/lato-700.woff2") format("woff2"),
    url("fonts/lato-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("fonts/roboto-400.woff2") format("woff2"),
    url("fonts/roboto-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";
  font-display: swap;
  src: url("fonts/rouble.woff2") format("woff2"),
    url("fonts/rouble.woff") format("woff");
}


/* Utils */

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh, 1vh));
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.btn {
  display: inline-flex;

  font-family: "Lato", Arial, sans-serif;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: all 0.3s ease;
}

.rouble {
  font-family: "Rouble", Arial, sans-serif;
}

.scroll-lock {
  overflow: hidden;
}

/* MAIN-HEADER */

.main-header {
  margin-bottom: 70px;
}

.main-header__container {
  display: grid;
  grid-template-columns: 217px 1fr;
  align-items: center;
  column-gap: 40px;
  padding-top: 51px;
}

.logo__link {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: end;
  column-gap: 12px;
}

.logo__part {
  position: relative;
  width: 57px;
  height: 57px;
  background-color: #231815;
  border-radius: 8px;
}

.logo__part svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
}

.logo svg {
  transition: color 0.3s ease;
}

@media (hover: hover) {
  .logo:hover svg {
    color: #e45302;
  }
}

.logo:active svg {
  color: rgba(228, 83, 2, 0.7);
}

.logo__link:focus-visible {
  opacity: 0.8;
  outline: none;
}

.main-header__toggle-container {
  display: none;
}

/* MAIN-NAVIGATION */

.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation__terms {
  order: -1;
}

.main-navigation__inner {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 132px;
  padding-bottom: 1px;
}


/* TERMS */
.terms {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  background-color: #231815;

  a {
    font-family: "Lato", Arial, sans-serif;
    line-height: 100%;
    color: #ffffff;
  }
}

.terms__container {
  padding-top: 9px;
}

.terms ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  column-gap: 70px;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  list-style-type: none;
}

.terms__item {
  transition: all 0.3s ease;
}

.terms__lang-btn {
  padding: 0;
}

@media(hover: hover) {
  .terms__item:hover a,
  .terms__item:hover button {
    color: #e45302;
  }
}

.terms__item:active a,
.terms__item:active button {
  color: rgba(228, 83, 2, 0.7);
}

/* MENU */

.menu ul,
.search ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu ul {
  column-gap: 100px;
  row-gap: 25px;
  margin-left: 25px;
}

.menu li {
  transition: color 0.3s ease;
}

.menu__link {
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

@media (hover: hover) {
  .menu li:hover .menu__link {
    color: #e45302;
  }
}

.menu li:active .menu__link {
  color: rgba(228, 83, 2, 0.7);
}

/* SEARCH */

.search {
  display: flex;
  gap: 20px;
}

.search__form {
  position: relative;
}

input[type="search"] {
  max-width: 170px;
  padding: 9px 21px;
  padding-right: 50px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1rem;
  color: #231815;
  border: 1px solid #f5f5f5;
  border-radius: 88.64px;
  transition: border-color 0.3s ease;
}

input[type="search"]::placeholder {
  color: #231815;
}

@media (hover: hover) {
  input[type="search"]:hover {
    border-color: #e45302;
  }
}

input[type="search"]:active {
  border-color: #231815;
}

input[type="search"]:focus-visible{
  border-color: #c44801;
  outline: none;
}

.search__btn {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 22px;
  height: 22px;
}

.search__btn svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #231815;
}

.search__cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 9px;
  min-width: 138px;
  padding: 4px 19px;
  padding-left: 25px;
  background-color: #231815;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.search__cart::after {
  position: absolute;
  top: 3px;
  left: 36px;
  min-width: 18px;
  min-height: 18px;
  padding: 1px 5px 0;
  font-size: 0.75rem;
  line-height: 140%;
  color: #231815;
  background-color: #ffffff;
  border-radius: 50%;
  content: "3";
}

@media (hover: hover) {
  .search__cart:hover {
    color: #e45302;
    background-color: #ffffff;
    border: 1px solid #c44801;

    svg {
      fill: none;
    }
  }

  .search__cart:hover::after {
    color: #ffffff;
    background-color: #e45302;
  }
}

.search__cart:active {
  background-color: #f5f5f5;
}

.search__cart:focus-visible {
  outline-color: #e45302;
}

/* SEARCH-RESULT */

.search-result {
  margin-bottom: 59px;
}

.search-result h1 {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Korataki", Arial, sans-serif;
  font-size: 2.75rem;
  line-height: 140%;
  letter-spacing: -0.12px;
}

.search-result__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  column-gap: 40px;
  row-gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* CARD */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media(hover: hover) {
  .card:hover .card__btn-container {
    transform: translateY(0);
  }

  .card__btn:hover {
    background-color: #c44801;
  }
}

.card:focus-within .card__btn-container {
  transform: translateY(0);
}

.card--mobile {
  display: none;
}

.card__image-container {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
}

.card__image-container img {
  min-width: 320px;
  border-radius: 20px;
}

.card__btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 19px 31px 20px;
  background-color: rgb(245, 245, 245, 0.7);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translateY(100%);
  transition: all 0.5s ease;
  z-index: 1;
}

.card__btn {
  width: 100%;
  padding: 13px;
  justify-content: center;
  background-color: #e45302;
  border-radius: 100px;
}

.card__sale-container {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 126px;
  width: fit-content;
  padding: 8px;
  text-align: center;
  background-color: #231815;
  border-radius: 100px;
}

.card__sale-container span {
  font-weight: 600;
  line-height: 140%;
  color: #ffffff;
}

.card__description h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.125rem;
}

.card__price {
  font-size: 1.375rem;
  line-height: 140%;
  font-weight: 700;
}

.card__price + .card__price {
  margin-left: 16px;
}

.card__price .rouble {
  margin-left: 5px;
}

.card__price--new {
  color: #e45302;
}

.card__price--old {
  font-weight: 600;
  color: #808080;
}

.card__price--old span:first-of-type {
  text-decoration: line-through;
}

/* MAIN-FOOTER */

.main-footer {
  min-height: 320px;
  color: #ffffff;
  background-color: #231815;
}

.main-footer__container {
  display: grid;
  grid-template-columns: 320px 250px 245px 250px;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: row;
  justify-content: center;
  column-gap: 112px;
  padding: 0 79px;
  padding-top: 61px;
  padding-bottom: 60px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer__logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.logo__link--footer > svg {
  width: 164px;
  height: 35px;
}

.logo__part--footer {
  width: 62px;
  height: 62px;
  background-color: #ffffff;
}

.logo__part--footer svg {
  width: 46px;
  height: 50px;
  color: #231815;
}

.main-footer__privacy {
  grid-column: 1 / 2;
  font-family: "Roboto", Arial, sans-serif;
  color: #808080;
}

.main-footer__privacy p {
  margin: 0;
  margin-top: 54px;
  line-height: 130%;
}

.main-footer__privacy a {
  color: #808080;
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media(hover: hover) {
  .main-footer__link:hover {
    color: #ffffff;
  }
}

.main-footer__link:active {
  color: #e45302;
}

.main-footer__link:focus-visible {
  color: #f5f5f5;
  outline: none;
}

.main-footer__contacts {
  grid-row: 1 / 3;
}

.main-footer__services {
  grid-row: 1 / 3;
  padding-left: 33px;
}

.main-footer__info {
  grid-column: -1 / -2;
  grid-row: 1 / 2;
}

.main-footer__payment {
  grid-column: -1 / -2;
}

/* CONTACTS */

.contacts__item h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.contacts__item address {
  font-style: normal;
}

.contacts__item:last-of-type h3 {
  margin-bottom: 21px;
}

.contacts__item + .contacts__item {
  margin-top: 43px;
}

.contacts__inner-item {
  display: flex;
  gap: 3px;
}

.contacts__inner-item + .contacts__inner-item {
  margin-top: 25px;
}

.contacts__inner-item a {
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .contacts__inner-item a:hover {
    color: #e45302;
  }
}

.contacts__inner-item a:active {
  color: #c44801;
}

.contacts__inner-item a:focus-visible {
  color: #f5f5f5;
  outline: none;
}

.contacts__list--inner h4 {
  margin: 0;
}

/* SERVICES */

.services h2 {
  margin: 0;
  margin-bottom: 21px;
  font-size: 1.125rem;
}

.services ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services a {
  display: block;
  width: max-content;
  transition: all 0.3s ease;
}

@media(hover: hover) {
  .services li:hover a {
    color: #e45302;
  }
}

.services li:active a {
  color: rgba(228, 83, 2, 0.7);
}

/* INFO */

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-top: 5px;
}

.info a {
  color: #808080;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .info a:hover {
    color: #e45302;
  }
}

.info a:active {
  color: #c44801;
}

.info a:focus-visible {
  color: #f5f5f5;
  outline: none;
}

/* PAYMENT */

.payment ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  row-gap: 15px;
  margin-top: 76px;
}

.payment li:not(:last-of-type) {
  margin-right: 33px;
}

@media (max-width: 1919px) {
  .container {
    padding-right: 180px;
    padding-left: 180px;
  }

  .main-header {
    margin-bottom: 68px;
  }

  .main-navigation__inner {
    min-width: 328px;
    gap: 50px;
  }

  /* SEARCH-RESULT */

  .search-result {
    margin-bottom: 64px;
  }

  .search-result h1 {
    margin-bottom: 43px;
    font-size: 2.5rem;
  }

  .search-result__list {
    gap: 28px;
  }

  /* CARD */

  .card {
    margin: 0 auto;
  }

  .card__image-container {
    width: fit-content;
  }

  .card__image-container img {
    min-width: 288px;
    width: auto;
  }

  .card__sale-container {
    top: 11px;
  }

  .card__btn-container {
    padding: 19px 18px 20px 14px;
  }

  /* MAIN-FOOTER */

  .main-footer__container {
    justify-content: space-between;
    column-gap: 58px;
    padding: 60px 180px 0;
  }

  .main-footer__logo-container {
    margin: 4px 0;
    margin-left: -1px;
  }

  .logo__link--footer > svg {
    width: 149px;
    height: 32px;
  }
  
  .logo__part--footer {
    width: 56px;
    height: 56px;
  }
  
  .logo__part--footer svg {
    width: 42px;
    height: 46px;
  }

  .main-footer__contacts {
    padding-top: 1px;
    padding-left: 14px;
  }

  .main-footer__services {
    padding-top: 1px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .main-header__container {
    position: relative;
  }

  /* SEARCH */

  .search {
    gap: 23px;
  }

  .search__form {
    min-width: 170px;
    overflow: hidden;
  }

  @media (hover:hover) {
    .search__form:hover input[type="search"], 
    .search__form:active input[type="search"],
    .search__form:focus-visible input[type="search"] {
      transform: translateX(0);
    }
  }

  .search__btn {
    top: 0;
    right: 0;
    width: 39px;
    height: 39px;
    background-color: #231815;
    border-radius: 50%;
  }

  .search__btn svg {
    color: #ffffff;
  }

  input[type="search"] {
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
}

@media (max-width: 1599px) {
  .container {
    padding-right: 44px;
    padding-left: 44px;
  }

  .menu ul {
    gap: 70px;
  }

  .search-result {
    container-type: inline-size;
  }

  .search-result h1 {
    font-size: 2rem;
  }

  .search-result__list {
    column-gap: 40px;
    row-gap: 50px;
  }

  @container (width < 1272px) {
    .search-result__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @container (width < 944px) {
    .search-result__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .main-footer__container {
    column-gap: 0;
  }
}

@media (max-width: 1199px) {
  .main-header {
    margin-bottom: 59px;
  }

  .main-header__container {
    padding-top: 12px;
  }

  .logo__link {
    column-gap: 7px;
  }

  .logo__link > svg {
    width: 97px;
    height: 20px;
  }
  
  .logo__part {
    width: 37px;
    height: 36px;
    border-radius: 6px;
  }
  
  .logo__part svg {
    width: 27px;
    height: 29px;
  }

  .main-header__toggle-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 24px;
    margin-right: 2px;
    margin-left: auto;
    z-index: 11;
  }

  .main-header__toggle-container.is-open .main-header__toggle-icon {
    transition: all 0.3s ease;
    transform: rotate(90deg);
    z-index: 11;
  }

  .main-header__toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 24px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .main-header__toggle-icon { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  
    display: block;
    width: 24px;
    height: 2px;
  
    background-color: #231815;
    transition: all 0.5s ease;
  }

  .main-header__toggle-icon::before,
  .main-header__toggle-icon::after {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #231815;
    content: "";
  }

  .main-header__toggle-icon::before {
    top: -5px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .main-header__toggle-icon::after {
    bottom: -5px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .main-navigation {
    position: fixed;
    top: 60px;
    right: 0;

    display: block;
    min-height: 124px;
    width: 100%;
    height: calc(100vh - 15px);
    padding: 150px 44px;
    background-color: #231815;

    transform: translateX(100%);
    transition: all 1s ease;
    z-index: 10;
  }

  .main-navigation.is-open {
    transform: translateX(0);
    overflow-y: scroll;
  }

  .terms {
    background: #ffffff;
    border-top: 1px solid #231815;

    a,
    button {
      color: #231815;
    }
  }

  .main-navigation__inner {
    flex-direction: column;
    gap: 80px;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    text-align: center;
  }

  .menu__link {
    font-size: 1.25rem;
    color: #ffffff;
  }

  .search {
    flex-direction: column;
  }

  .search__cart {
    color: #231815;
    background-color: #ffffff;
  }
  
  .search__cart::after {
    color: #ffffff;
    background-color: #231815;
  }

  .search__cart svg {
    fill: none;
  }

  .search-result {
    margin-bottom: 50px;
  }

  .search-result__list {
    column-gap: 39px;
    row-gap: 49px;
  }

  .card__btn-container {
    padding: 19px 32px 20px 30px;
  }

  .card__sale-container {
    top: 10px;
  }

  /* MAIN-FOOTER */

  .main-footer__container {
    grid-template-columns: 1fr 1fr 150px;
    column-gap: 18px;
    row-gap: 30px;
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .logo__link--footer {
    column-gap: 10px;
  }

  .logo__link--footer > svg {
    width: 124px;
    height: 26px;
  }
  
  .logo__part--footer {
    width: 47px;
    height: 47px;
    /* border-radius: 6px; */
  }
  
  .logo__part--footer svg {
    width: 35px;
    height: 38px;
  }

  .main-footer__privacy {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
  }
  
  .main-footer__privacy p {
    margin-top: 56px;
    margin-left: 32px;
  }
  
  .main-footer__contacts {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-left: 1px;
  }

  .contacts__list:not(.contacts__list--inner) {
    display: flex;
    gap: 117px;
  }

  .contacts__item + .contacts__item {
    margin-top: 0;
  }
  
  .main-footer__services {
    grid-column: 3 / -1;
    grid-row: 2 / 5;
    padding-left: 7px;
  }

  .services ul {
    gap: 30px;
  }
  
  .main-footer__info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .info {
    align-items: start;
    padding-top: 9px;
  }

  .info__privacy-policy {
    margin-top: 26px;
  }
  
  .main-footer__payment {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .payment {
    padding-left: 9px;
  }

  .payment ul {
    justify-content: start;
    margin-top: 73px;
  }
}

@media (max-width: 769px) {
  .container {
    padding-right: 35px;
    padding-left: 35px;
  }

  .main-header {
    margin-bottom: 48px;
  }

  .main-header__container {
    padding-top: 10px;
  }

  .main-header__toggle-container {
    margin-right: 0;
  }

  .terms ul {
    flex-direction: column;
    align-items: end;
    gap: 20px;
    padding: 10px;
    padding-right: 0;
  }

  .search-result {
    margin-bottom: 42px;
  }

  .search-result h1 {
    margin-bottom: 27px;
    font-size: 1.5rem;
  }

  .search-result__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 33px;
  }

  .card {
    width: 100%;
  }

  .card__image-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .card__image-container img {
    min-width: 155px;
    width: 100%;
    border-radius: 10px;
  }

  .card__btn-container {
    display: none;
  }

  .card__description {
    position: relative;
  }

  .card__description h2 {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
  }

  .card__description a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  .card__price {
    font-size: 1rem;
  }

  .card__price + .card__price {
    margin-left: 5px;
  }

  .card__price--new {
    font-size: 1rem;
  }

  .card__price--old {
    font-size: 0.875rem;
  }

  .card__price .rouble {
    margin-left: 4px;
  }

  .card__sale-container {
    min-width: 70px;
    padding: 2px;
    font-size: 0.875rem;
  }

  .card--desktop {
    display: none;
  }

  .card--mobile {
    display: block;
  }

  .main-footer__container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 36px;
    padding-bottom: 39px;
  }

  .main-footer__logo-container,
  .main-footer__contacts,
  .main-footer__services,
  .main-footer__info,
  .main-footer__payment {
    grid-column: 1 / -1;
    grid-row: unset;
  }

  .main-footer__logo-container {
    margin-left: 3px;
  }

  .main-footer__privacy {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }

  .main-footer__privacy p {
    margin: 0;
  }

  .contacts__list:not(.contacts__list--inner) {
    flex-direction: column;
    gap: 35px;
  }

  .contacts__item h3 {
    margin-bottom: 15px;
  }

  .contacts__item:last-of-type h3 {
    margin-bottom: 11px;
  }

  .main-footer__services {
    padding-left: 1px;
  }

  .services ul {
    gap: 20px;
  }

  .info {
    padding-top: 3px;
  }

  .payment ul {
    margin-top: 47px;
  }
} 
